<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Covid Vaccine Tracker</title>
        <link href="styles/style.css" rel="stylesheet"> <!--reference the style sheet-->
        <!--<link rel="preconnect" href="https://fonts.gstatic.com">-->
        <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Covid Vaccine Tracker</h1> <!--big heading-->
        <h2 id="insertSm"></h2> <!--empty size 2 header container-->
        <p>Welcome to the Corona Virus Vaccine tracker site, a registry of recipients of Corona Virus vaccines. Please fill out the form below.</p>
        <!--Use for basic forms template-->
        <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_text-->
        
        <!--add different elements to forms eg: dropdown list, text box, check boxes etc-->
        <!--https://www.w3schools.com/html/html_form_elements.asp-->
        
        <!--input types such as text, date, password and other wonderful things that come with predefined workings for forms-->
        <!--https://www.w3schools.com/html/html_form_input_types.asp-->

        <!--for setting attributes of the form elements, eg: setting restrictions on date entered; placeholders-->
        <!--https://www.w3schools.com/html/html_form_attributes.asp-->
        <!--Note: may need to set form attribute to be able to handle form submission if using submit type for button-->
        <form id="SRForm" name="SRForm" method="post" onsubmit="return condensed_formsub();"> 
            <fieldset> <!--this adds a nice box around the form-->
                <legend>Vaccination self report form</legend> <!--the legend gives the box a title-->
                <label for="fname">Name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="Enter Name"/><br>
                <label for="sname">Surname:</label><br>
                <input type="text" id="sname" name="sname" placeholder="Enter Surname"/><br>
                <label for="date">Date of vaccination:</label><br>
                <input type="date" id="date" name="date" min="2020-01-01" /><br> <!--a bit of error handling: set a min date-->
                <label for="Vaxadmin">Vaccine administered:</label><br>
                <select id="Vaxadmin" name="Vaxadmin">
                    <option value="" selected>Select Vaccine</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Johnson&Johnson">Johnson&Johnson</option>
                    <option value="Moderna">Moderna</option>
                    <option value="Pfizer-BioNTech">Pfizer-BioNTech</option>
                    <option value="Other">Other</option>
                </select> <br>
                <label for="pvax">Place of vaccination:</label><br>
                <input type="text" id="pvax" name="pvax" placeholder="Enter address"/><br><br>
                <input type="submit" value="Submit"/> <!--or use button for type, may get away with it-->
                </fieldset>
            </form>
            <br>
            <br>
            <table style="width:100%" id="tbl">
                <tr style="text-align: left;">
                  <th>Firstname</th>
                  <th>Surname</th>
                  <th>Vacinnation date</th>
                  <th>Vaccine</th>
                  <th>Place</th>
                </tr>
              </table>
    </body>
    <br>
    <!--<button id="clickbut">click me!</button>-->
    <br>
    <br>
    <script src="scripts/main.js"></script>
</html>
