html{
    background-color: lightsteelblue;
    font-size: 10px;
    font-family: 'Ranchers', cursive;
}

h1{
    font-size: 60px;
    color: black;
    text-align: center;
    text-shadow: 3px; /* four values: horizontal offset, vertical offset, blur radius, bas colour of shadprw*/
    /*margin:0*/
    /*padding:20pc 0;*/ /*some additional code*/
}
p, th, tr{
    color: grey;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
li, input, label, select, option{
    color: black;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

legend{
    color: black;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
}


/*styling the body CSS works in boxes*/
body { 
    width: 600px;
    margin: 0 auto; /*first value for top and bottom side, second value for left and right*/
    background-color: rgb(198, 209, 223); /* set a bit lighter than header bon*/
    padding: 0 20px 20px 20px; /* padding set top right bottom left*/
    border: 5px solic black; /* black border on all sides*/
}

img{
    display: block; /* giving margin block-level behavious like a body so that it can be given a border*/
    margin: 0 auto;
    /* NB instructions assum image width smaller than 600 px, if larger will spill, meaning 1- reduce in graphics editor, or 2: resize by css width property in img element*/
}
